In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("SparkHiveDatabase")

# centarlized hive meta server
# hdfs hive for data warehouse
# enable hive support must for sql database
 
config.set("spark.local.dir", "/home/ubuntu/spark-temp")

# while using hive.metastore.warehouse.dir, we should not use spark warehouse dir

config.set("hive.metastore.uris", "thrift://localhost:9083")
config.set("hive.metastore.warehouse.dir", "hdfs://localhost:9000/user/hive/warehouse")


from pyspark.sql import SparkSession
# spark Session, entry point for Spark SQL, DataFrame

# enableHiveSupport() now using hive meta server running as server
# multiple notebooks can share hive meta server, work in parallel
# we use hive warehouse directory for spark too, this way hive and spark can co-exists
# metastore shall have meta data: database, tables, columns, data types, where exactly
# data located in hdfs or file system or s3

spark = SparkSession.builder\
                    .config(conf=config)\
                    .enableHiveSupport()\
                    .getOrCreate()

sc = spark.sparkContext

Warning: Ignoring non-Spark config property: hive.metastore.uris
Warning: Ignoring non-Spark config property: hive.metastore.warehouse.dir
22/05/16 21:03:50 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.174.129 instead (on interface ens33)
22/05/16 21:03:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/05/16 21:03:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/16 21:03:51 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).
22/05/16 21:03:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [5]:
spark.sql("SHOW DATABASES").show()

+----------+
| namespace|
+----------+
|   default|
|   moviedb|
|  ordersdb|
|productsdb|
+----------+

In [6]:
spark.sql("SHOW TABLES IN moviedb").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
| moviedb|   movies|      false|
| moviedb|  ratings|      false|
+--------+---------+-----------+

In [11]:
# select 10 movies and show
spark.sql("select * from moviedb.movies limit 10").show()

+--------+--------------------+--------------------+
|movie_id|               title|              genres|
+--------+--------------------+--------------------+
|    null|               title|              genres|
|       1|    Toy Story (1995)|Adventure|Animati...|
|       2|      Jumanji (1995)|Adventure|Childre...|
|       3|Grumpier Old Men ...|      Comedy|Romance|
|       4|Waiting to Exhale...|Comedy|Drama|Romance|
|       5|Father of the Bri...|              Comedy|
|       6|         Heat (1995)|Action|Crime|Thri...|
|       7|      Sabrina (1995)|      Comedy|Romance|
|       8| Tom and Huck (1995)|  Adventure|Children|
|       9| Sudden Death (1995)|              Action|
+--------+--------------------+--------------------+

In [12]:
# select 10 ratings and show
spark.sql("select * from moviedb.ratings limit 10").show()

+-------+--------+------+----------------+
|user_id|movie_id|rating|rating_timestamp|
+-------+--------+------+----------------+
|   null|    null|  null|            null|
|      1|       1|     4|       964982703|
|      1|       3|     4|       964981247|
|      1|       6|     4|       964982224|
|      1|      47|     5|       964983815|
|      1|      50|     5|       964982931|
|      1|      70|     3|       964982400|
|      1|     101|     5|       964980868|
|      1|     110|     4|       964982176|
|      1|     151|     5|       964984041|
+-------+--------+------+----------------+

In [25]:
spark.sql("""
        SELECT movie_id, avg(rating) as avg_ratings, count(user_id) as count_rating 
        FROM moviedb.ratings
        group by movie_id
        """).show()

+--------+-----------+------------+
|movie_id|avg_ratings|count_rating|
+--------+-----------+------------+
|    1580|     3.6364|         165|
|    2366|     3.7200|          25|
|    3175|     3.6933|          75|
|    1088|     3.5714|          42|
|   32460|     4.5000|           4|
|   44022|     3.4783|          23|
|   96488|     4.5000|           4|
|    1238|     4.1111|           9|
|    1342|     2.6364|          11|
|    1591|     2.7692|          26|
|    1645|     3.5490|          51|
|    4519|     3.4444|           9|
|    2142|     2.8000|          10|
|     471|     3.6500|          40|
|    3997|     2.0000|          12|
|     833|     2.1667|           6|
|    3918|     3.3333|           9|
|    7982|     3.7500|           4|
|    1959|     3.8000|          15|
|   68135|     3.9000|          10|
+--------+-----------+------------+
only showing top 20 rows

In [29]:
spark.sql(""" CREATE OR REPLACE TEMP VIEW most_popular_temp_table AS
        SELECT movie_id, avg(rating) as avg_ratings, count(user_id) as total_ratings FROM moviedb.ratings
        group by movie_id
        HAVING avg_ratings >= 3.5 and total_ratings > 100
        """)

DataFrame[]

In [30]:
spark.sql("SHOW TABLES").show(10)

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
| default|              brands|      false|
| default|           employees|      false|
|        |most_popular_temp...|       true|
+--------+--------------------+-----------+

In [31]:
spark.sql("SELECT * FROM most_popular_temp_table").show(10)

+--------+-----------+-------------+
|movie_id|avg_ratings|total_ratings|
+--------+-----------+-------------+
|    1580|     3.6364|          165|
|    1721|     3.5571|          140|
|     858|     4.3958|          192|
|    1270|     4.1696|          171|
|    1265|     4.0699|          143|
|     588|     3.8689|          183|
|     296|     4.2964|          307|
|   68954|     4.1810|          105|
|   58559|     4.4295|          149|
|     593|     4.2688|          279|
+--------+-----------+-------------+
only showing top 10 rows