In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
sc = SparkContext("local", "KeyValuePairRDD")

22/05/05 19:38:29 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.174.129 instead (on interface ens33)
22/05/05 19:38:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/05/05 19:38:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/05 19:38:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/05 19:38:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/05/05 19:38:34 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/05/05 19:38:34 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/05/05 19:38:34 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/05/05 19:38:34 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
22/05/05 19:38:34 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

In [5]:
# Key Value pair formed from tuple, where as first element in tuple is known as key
# second element known as value
# (key, value)
# apple is key, 20 is value
data = [
    ('apple', 20),
    ('orange', 30),
    ('apple', 10),
    ('mango', 50),
    ('orange', 15),
    ('apple', 5),
    ('mango', 10)
]

rdd = sc.parallelize(data)

In [6]:
# find the count keys
# for rdd functions with "Key" can use this dataset

result = rdd.countByKey() # action
result # result is dictionary, it returns count of keys

defaultdict(int, {'apple': 3, 'orange': 2, 'mango': 2})

In [7]:
# reduce refers to aggregation 
# find the total kilogram of fruits sold (apple - 30, orange - 30, mongo - 50), some of kelograms of fruits sold 
# reduceByKey , useful for sum or custom code
# lambda function here woun't be called first time when key found
# the first time key value pare is isued for intialization 
"""
Input
('apple', 20) <- apple is first time, this value directly placed in table, lambda not called
('orange', 30) <- orange is first time, this value directly placed in table, lambda not called
('apple', 10) <- apple is second time, lambda shall be called
                 lambda has two params, acc, value
                 acc value taken from table shown below, value from record 
                 acc = 20, value  10
                 (20, 10) => acc + value = (20 + 10) = 30, this value updated in table
('mango', 50)<- first time, lambda not called, values directly placed

assume there

Virtaually there is table

Key       acc
apple     30
orange    30
mango     50
"""
# acc is just variable, called accumulator
# value is from rdd, 20, 30, 10 ,50
# lambda takes two arguments, acc is accumulator based key, value is from record/tuple 
result = rdd.reduceByKey(lambda acc, value: acc + value)
result.collect()

[('apple', 35), ('orange', 45), ('mango', 60)]

In [12]:
resultRdd = rdd.groupByKey() # trasformatiom, group the values 

results = resultRdd.collect()
# result is a list of tuple 
# result = [ (0, iterator), (1, iterator) ]
# 0 - even number group
# 1 - odd number group
for key, valueItr in results:
    print("Group ", key, valueItr)
    # iterator the result to get the actual data
    for value in valueItr:
        print ("\tVAlue ", value)

Group  apple <pyspark.resultiterable.ResultIterable object at 0x7efc741c2f40>
	VAlue  20
	VAlue  10
	VAlue  5
Group  orange <pyspark.resultiterable.ResultIterable object at 0x7efc7432c550>
	VAlue  30
	VAlue  15
Group  mango <pyspark.resultiterable.ResultIterable object at 0x7efc7432cf70>
	VAlue  50
	VAlue  10