In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("DataFrameBasic")

from pyspark.sql import SparkSession
# spark Session, entry point for Spark SQL, DataFrame
spark = SparkSession.builder\
                    .config(conf=config)\
                    .getOrCreate()

sc = spark.sparkContext

22/05/09 20:12:53 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.174.129 instead (on interface ens33)
22/05/09 20:12:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/05/09 20:12:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4049. Attempting port 4050.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4050. Attempting port 4051.
22/05/09 20:12:58 WARN Utils: Service 'SparkUI' could not bind on port 4051. Attempting port 4052.

In [3]:
# spark dataframe
# Structured Data
# data + schema
# schema will contain columns and data types
# data - rows with columns as per schema
# DataFrame Core Engine, Spark SQL Core are same
# DataFRame internally has RDD,, Rdd[Row]
# DataFrame is as alias, the actual data still on RDD only
# Data Frame is API, when we call the API, internally API is converted into 
# various plans [logical, optimized, physical plans] and finally physical plan
# used to create Java Byte using Scala
# When it comes to execution, it is Still RDD, transformation, action only

In [4]:
products = [
    # (product_id, product_name, price, brand_id, offer)
    (1, 'iPhone', 1000.0, 100, 0),
    (2, 'Galaxy', 545.50, 101, None),
    (3, 'Pixel', 645.99, 101, None)
]

# no data type mentioned, however we will let spark to infer schema by reading data
schema = ['product_id', 'product_name', 'price', 'brand_id', 'offer']

productDf = spark.createDataFrame(data=products, schema=schema)

# every data frame has schema, we can print it
productDf.printSchema()
# ASCII FORMAT
productDf.show() # 20 records

root
 |-- product_id: long (nullable = true)
 |-- product_name: string (nullable = true)
 |-- price: double (nullable = true)
 |-- brand_id: long (nullable = true)
 |-- offer: long (nullable = true)

+----------+------------+------+--------+-----+
|product_id|product_name| price|brand_id|offer|
+----------+------------+------+--------+-----+
|         1|      iPhone|1000.0|     100|    0|
|         2|      Galaxy| 545.5|     101| null|
|         3|       Pixel|645.99|     101| null|
+----------+------------+------+--------+-----+

In [5]:
productDf.rdd.collect()

[Row(product_id=1, product_name='iPhone', price=1000.0, brand_id=100, offer=0),
 Row(product_id=2, product_name='Galaxy', price=545.5, brand_id=101, offer=None),
 Row(product_id=3, product_name='Pixel', price=645.99, brand_id=101, offer=None)]