In [30]:
import findspark
findspark.init()

In [31]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("Stocks")

from pyspark.sql import SparkSession
# spark Session, entry point for Spark SQL, DataFrame
spark = SparkSession.builder\
                    .config(conf=config)\
                    .getOrCreate()

sc = spark.sparkContext

In [38]:
from pyspark.sql.types import StructType, LongType, StringType, IntegerType, DoubleType

dailySchema = StructType()\
                .add("symbol", StringType(), True)\
                .add("series", StringType(), True)\
                .add("open", IntegerType(), True)\
                .add("high", IntegerType(), True)\
                .add("low", IntegerType(), True)\
                .add("close", IntegerType(), True)\
                .add("last", IntegerType(), True)\
                .add("prev_close", IntegerType(), True)\
                .add("time", IntegerType(), True)\
                .add("total_trades", IntegerType(), True)\
                .add("isin", IntegerType(), True)\
                .add("c_13", IntegerType(), True)

In [39]:
stockDailyDf = spark.read.format("csv")\
                .option("header", True)\
                .schema(dailySchema)\
                .load("hdfs://localhost:9000/stocks/daily")

stockDailyDf.printSchema()
stockDailyDf.show(50)

root
 |-- symbol: string (nullable = true)
 |-- series: string (nullable = true)
 |-- open: integer (nullable = true)
 |-- high: integer (nullable = true)
 |-- low: integer (nullable = true)
 |-- close: integer (nullable = true)
 |-- last: integer (nullable = true)
 |-- prev_close: integer (nullable = true)
 |-- time: integer (nullable = true)
 |-- total_trades: integer (nullable = true)
 |-- isin: integer (nullable = true)
 |-- c_13: integer (nullable = true)

+----------+------+-----+-----+-----+-----+-----+----------+--------+------------+----+------+
|    symbol|series| open| high|  low|close| last|prev_close|    time|total_trades|isin|  c_13|
+----------+------+-----+-----+-----+-----+-----+----------+--------+------------+----+------+
| 20MICRONS|    EQ| null| null| null| null| null|      null|  219912|        null|null|  2642|
|21STCENMGM|    EQ| null| null| null| null| null|      null|    1209|        null|null|    45|
| 3IINFOLTD|    EQ| null| null| null| null| null|      null| 1092731|        null|null|  7273|
|   3MINDIA|    EQ|21480|21480|20730| null|20925|      null|    1823|        null|null|  1120|
|    3PLAND|    BE| null| null| null| null| null|      null|    8318|      128580|null|    70|
|    5PAISA|    EQ| null| null|  323| null|  325|      null|   26781|        null|null|   753|
|   63MOONS|    BE|  205| null| null| null|  207|      null|   56165|        null|null|  1048|
| 667GS2050|    GS| null| null|   97|   97|   97|      null|    6795|        null|null|     8|
| 676GS2061|    GS| null|  100| null|  100|  100|      null|     210|       20310|null|     2|
| 699GS2051|    GS| null|  101| null|  101|  101|      null|     101|       10051|null|     2|
| 717GS2028|    GS| null| null| null| null| null|       103|    3000|      309600|null|     1|
| 726GS2029|    GS| null| null| null| null| null|      null|      50|        null|null|     1|
| 737GS2023|    GS| null| null| null|   96|   96|      null|     150|        null|null|     4|
| 772GS2055|    GS| null| null| null| null| null|       115|       2|         229|null|     1|
| 795GS2032|    GS|  117|  117|  117|  117|  117|       116|       2|         234|null|     1|
| 817GS2044|    GS|  115| null|  115| null| null|       113|       8|        null|null|     2|
| 824GS2027|    GS|  104| null|  104| null| null|       109|     100|        null|null|     2|
|  A2ZINFRA|    EQ| null| null| null| null| null|      null|  555528|        null|null|   758|
|   AAATECH|    SM|   66|   71|   66| null|   71|        67|    9000|      615000|null|     3|
|    AAKASH|    BE| null| null| null| null| null|      null|   76613|        null|null|   290|
|AAREYDRUGS|    EQ|   43| null| null| null| null|      null|   72654|        null|null|  1482|
|     AARON|    EQ| null| null| null| null| null|      null|    4134|      451733|null|   177|
|AARTIDRUGS|    EQ|  450| null|  450| null|  460|      null|  100856|        null|null|  6080|
|  AARTIIND|    EQ|  915| null| null| null| null|      null|  669553|        null|null| 29192|
| AARTISURF|    EQ|  787|  805|  767| null| null|      null|   81193|        null|null|  1390|
| AARVEEDEN|    EQ| null| null| null| null| null|      null|   17467|        null|null|   235|
|     AARVI|    EQ| null| null| null| null| null|      null|   12944|        null|null|   241|
|     AAVAS|    EQ| null| null| 2765| null| 2800|      null|   69702|        null|null| 15023|
|      ABAN|    EQ|   43| null|   43| null| null|      null|  235933|        null|null|  2875|
|       ABB|    EQ| 2153| null| 2153| null| 2181|      null|  157039|        null|null| 14962|
|ABBOTINDIA|    EQ|17500|17500| null| null| null|      null|   29193|        null|null| 10804|
| ABCAPITAL|    EQ| null| null| null| null|  105|      null| 3371279|        null|null| 19259|
|    ABCOTS|    SM| null|   53| null| null| null|      null|   24000|     1254400|null|     6|
|     ABFRL|    EQ| null| null| null| null|  273|      null| 2757606|        null|null| 39457|
|   ABINFRA|    SM| null| null| null| null| null|      null|   16000|      161600|null|     4|
|ABMINTLLTD|    EQ| null| null| null| null| null|      null|     127|        null|null|    18|
|   ABSLAMC|    EQ| null| null| null| null| null|      null|  332073|        null|null| 10970|
|ABSLBANETF|    EQ| null| null| null| null| null|      null|   22467|        null|null|   348|
|ABSLNN50ET|    EQ| null| null| null| null| null|      null|    2585|        null|null|   113|
|       ACC|    EQ| null| null| 2043| null| null|      null|  494931|        null|null| 31949|
|   ACCELYA|    EQ|  910| null| null| null|  903|      null|   23341|        null|null|  1695|
|  ACCURACY|    EQ| null| null|  226| null|  231|       231|   29189|        null|null|   427|
|       ACE|    EQ|  212| null|  212| null| null|      null|  173979|        null|null|  4580|
|   ACRYSIL|    EQ|  670|  687| null| null| null|      null|   45518|        null|null|  3707|
|  ADANIENT|    EQ| 1638| null| null| null| 1647|      null| 1249817|        null|null| 30797|
|ADANIGREEN|    EQ| 1806| 1899| null| null| null|      null|  977410|        null|null| 49266|
|ADANIPORTS|    EQ| null| null| null| null| null|      null| 4448558|        null|null| 68822|
|ADANIPOWER|    EQ| null| null| null| null| null|      null|37990829|        null|null|122161|
|ADANITRANS|    EQ| 2111| null| 2111| null| null|      null|  395273|        null|null| 13638|
|  ADFFOODS|    EQ| null| null| null| null|  725|      null|   61392|        null|null|  1299|
+----------+------+-----+-----+-----+-----+-----+----------+--------+------------+----+------+
only showing top 50 rows

22/05/12 00:10:17 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 14, schema size: 12
CSV file: hdfs://localhost:9000/stocks/daily/cm02MAR2022bhav.csv

In [13]:
stockSectorsDf = spark.read.format("csv")\
                .option("header", True)\
                .option("inferSchema", True)\
                .load("hdfs://localhost:9000/stocks/sectors")

#stockSectorsDf.printSchema()

stockSectorsDf.show(4)

+--------------------+------------------+----------+------+------------+
|        Company Name|          Industry|    Symbol|Series|   ISIN Code|
+--------------------+------------------+----------+------+------------+
|      Axis Bank Ltd.|FINANCIAL SERVICES|  AXISBANK|    EQ|INE238A01034|
|  Bajaj Finance Ltd.|FINANCIAL SERVICES|BAJFINANCE|    EQ|INE296A01024|
|  Bajaj Finserv Ltd.|FINANCIAL SERVICES|BAJAJFINSV|    EQ|INE918I01018|
|Cholamandalam Inv...|FINANCIAL SERVICES|  CHOLAFIN|    EQ|INE121A01024|
+--------------------+------------------+----------+------+------------+
only showing top 4 rows

In [27]:
stocksDf = stockSectorsDf.join(stockDailyDf, stockSectorsDf.Symbol == stockDailyDf.SYMBOL)\
                         .select(stockDailyDf.SYMBOL, "OPEN",  "Industry")
                         #.sort(desc("OPEN"))
stocksDf.show(5)

+----------+-------+----------+
|    SYMBOL|   OPEN|  Industry|
+----------+-------+----------+
|ABBOTINDIA|17500.0|    PHARMA|
|  ADANIENT| 1638.0|    METALS|
|     ALKEM| 3239.0|    PHARMA|
|     ALKEM| 3239.0|    PHARMA|
|AMARAJABAT|  560.0|AUTOMOBILE|
+----------+-------+----------+
only showing top 5 rows